<%= link_to "New Booking", new_user_booking_path(current_user) %>
<% @bookings.each do |booking| %>
    <h1 class="success"> Booking </h1><br>
    <p><strong> DateTime: </strong><%= @booking.datetime %><br></p>
    <p><strong> Total_hours: </strong><%= @booking.total_hours %><br></p>
    <p><strong> Rate </strong><%= @booking.rate %><br></p>
    <p><strong> Status: </strong><%= @booking.status %><br></p>

<% end %>
