<% if logged_in? %> 
    <% if is_users_booking?(@booking) %> 
        <%= render 'errors' %> 

        <h1> Book a new Sitter </h1> 

        <%= form_for(@booking) do |f| %>
            <%= f.hidden_field :user_id %> 
            <h3> Choose your stylist </h3>
            <%= f.collection_select :employee_id, Employee.all, :id, :name %> <br> <br> <br> <br> 

            <h3> Choose time </h3> 

            <%= render 'time' %> 

            <div class="field <%= ' field_with_errors' if @appointment.errors[:time].any? %>">
            <%= f.datetime_select :time %> 
            </div>
            <br> <br> <br> <br> <br>
            <%= f.submit "Make a Booking" %> 
        <% end %> 
    <% end %> 
<% end %> 
