<h1>Booking</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for([current_user, @booking]) do |f| %>

      <%= f.hidden_field :user_id, :value => session[:user_id] %>
        
        <%= f.label :status %>
        <%= f.text_field :status %>

        <%= f.label :rate %>
        <%= f.number_field :rate %>

        <%= f.label :datetime %>
        <%= f.text_field :datetime %>

        <%= f.label :total_hours %>
        <%= f.number_field :total_hours%>

      <%= f.submit "Submit", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>



